{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block css_files %}
    <!-- Additional CSS files can be added here by child templates -->
    {% endblock %}
</head>

<body>
    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">MSA's Blog</a></h1>
        <nav>
            <h1><a href="{% url 'posts-page' %}">All Posts</a></h1>
        </nav>
    </header>
    {% block content %}
    <!-- Content of the page will be injected here by child templates -->
    {% endblock %}
    <footer>
        <p>&copy; 2024 MSA Blog. All rights reserved.</p>
    </footer>
</body>

</html>